<app-tabbed-interface></app-tabbed-interface>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="display-4 mb-4">
          Elastyczność tego rozwiązania jest ograniczona, ale development jest
          znacznie szbyszy
        </h2>
      </div>
    </div>
  </div>
  <div class="row bg-dark text-light py-5">
    <div class="container d-flex flex-row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <p class="text-center mb-4">
          Najwiekszym plusem tego rozwiązania jest jego szybkość, którą
          okupujemy ograniczeniem możliwości do tego co oferuje nam API
          komponentów.
        </p>
        <p class="text-center mb-4">
          Wiele problemów rozwiązanych przez bibliotekę klasyczny bootstrap jest
          tutaj niezaimplementowanych i wymaga dodatkowej pracy (np: animacje
          przy przejściach i klasy przejściowe ".collapsing" etc.).
        </p>
        <p class="text-center">
          Niemniej jednak ngBootstrap pozwala na nieinkludowanie zewnętrznych
          bibliotek znacząco obniżając wagę wynikowych plików js związanych z
          obsługą aplikacji.
        </p>
      </div>
    </div>
  </div>
</section>
